/* Soluzione qui */

/* Modalità Mobile*/

@media screen and (min-width: 576px) {
    .social-networks button {
        flex-grow: 1;
        transition: all 0.8s;
    }

    .clearfix > img {
        float: left;
        margin-right: 10px;
    }
}

/* Modalità Tablet */

@media screen and (min-width: 769px) {
    #topbar {
        justify-content: start;
    }

    main {
        padding: 40px;
    }

    .recipe-name::after {
        content: "(Dolce Tradizionale)";
    }

    .recipe-name {
        font-size: 2em;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        flex-basis: 33%;
        flex-shrink: 0;
    }

    .ads {
        display: block;
    }
}

/* Modalità Desktop */

@media screen and (min-width: 993px){
    .recipe-name {
        font-size: 2.5em;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-basis: 70% ;
        height: auto;
    }

    .recipe-video iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .recipe-info {
        flex-grow: 1;
    }

    .social-networks .label {
	display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer address {
        text-align: left;
    }

}
